/* CSS для зміни розміру тексту */

.text 
{
  font-size: 30px; /* Змінюємо розмір тексту на 16 пікселів */
}
h1
{
  color: #ffffff;
  text-align: center;
  background-color: #161518;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
  font-size: 70px;
  font-family: "Courier New", monospace;
}
table
{
  color: #ffffff;
  background-color: #161518;
  font-size: 30px;
  font-family: "Courier New", monospace;
}
body
{
  background: rgb(54,51,59);
background: linear-gradient(0deg, rgba(54,51,59,1) 0%, rgba(27,22,26,1) 100%);
}
h2
{
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", monospace;
}
h3
{
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", monospace;
}
h4
{
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", monospace;
}
h5
{
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", monospace;
}
.p1 
{
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  font-family: "Courier New", monospace;
}
.p2
{
  color: #ffffff;
  font-size: 25px;
  font-family: "Courier New", monospace;
}
.center-img {
  border: 5px solid #232025;
  border-radius: 4px;
  width: 30%;
  display: block;
  margin: 0 auto;
}
.img1
{
  border: 5px solid #232025;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
ul.a 
{
  color: #ffffff;
  font-size: 25px;
  display: inline-block;
  font-family: "Courier New", monospace;
}
div.t
{
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.center-im {
  border: 5px solid #232025;
  border-radius: 4px;
  width: 40%;
  display: block;
  margin: 0 auto;
}

.gallary {
  border: 5px solid #232025;
  border-radius: 4px;
  width: 20%;
}
a {
  color: rgb(216, 161, 221);
}
footer { 
  display: block;
}
.table-end
{
  color: #ffffff;
  background-color: #252329;
  font-size: 30px;
  font-family: "Courier New", monospace;
}
